.section-title {
  font-size: 16px;
  color: var(--slds-g-color-on-surface-3);
  font-weight: var(--slds-g-font-weight-6);
}

.title-label {
  font-size: 14px;
  color: var(--slds-g-color-on-surface-3);
  font-weight: var(--slds-g-font-weight-5);
}

.footer-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.data-preview-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.data-preview-container > span {
  margin-left: auto;
  font-size: 12px;
  color: var(--slds-g-color-on-surface-2);
  font-weight: var(--slds-g-font-weight-4);
}

.data-preview-container .datatable-preview {
  max-height: 400px;
  overflow-y: auto;
}

.file-stats {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.file-stats .content {
  flex: 1;
  display: flex;
  flex-direction: column
}

.file-stats .content > span {
  font-size: 12px;
  color: var(--slds-g-color-on-surface-3);
  font-weight: var(--slds-g-font-weight-5);
}

.file-stats .content .description {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.file-stats .content .description > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
